
.navbar {background-color:#fff!important;}
.lastpage2{font-size:20px;padding-left: 50px;}
.lastpage2 li a{color:#66757f!important}
.lastpage2 li a:hover{border-bottom: 5px solid #4ab3f4;color:#4ab3f4!important}
.logo{padding-top: 15px;padding-left:30%}
.r1{background-color: red;height:100px;}
.r2{background-color: rgb(68, 0, 255);height:100px;}
.navbar .form-search{border-radius: 20px;padding-right: 70px;background-image: url("images/icons.png");background-repeat: no-repeat;background-position: right center}
.navbar .button-tweet{border-radius: 20px;background-color:#4ab3f4;color: #fff;}
.user{font-size: 40px;padding-right: 10px;}
.b{background-color:#e6ecf0}
.container-fluid{padding:20px 30px 0px 30px;}



.img-profile{border-radius: 50%;position: relative;bottom: 30px;left: 10px;}
.card-title-name{font-weight: bold;position: relative;left: 70px;bottom: 80px}
.card-text-name{position: relative;left:72px;bottom:95px;color: #8896A2}
.following-link a{display: inline-block;padding-right: 25px;position: relative;bottom: 95px;font-size:12px;font-weight: bold;color: rgb(137, 142, 146)}
.following-link2 a{display: inline-block;padding-right:70px;position: relative;bottom: 95px;font-size:12px;font-weight: bold}

.card-block2{margin-top: 10px;font-weight: bold}




.middle{background-color:#E8F5FD;height: 57px;border-bottom: 1px solid#8896A2}
.middle img{border-radius: 50%;position: relative;left:20px;position: relative;top:10px}
.middle input{position: relative;left: 30px;top: 10px;width:500px;border-radius: 5px;}
.middle-one{background-color:#Fff;height:550px;border-bottom:1px solid#8896A2}
.middle-one:hover{background-color:#F5F8FA}
.middle-one img{border-radius: 50%;position: relative;left: 20px;top: 10px}
.middle-one p{font-size: 15px;font-weight:bold;position: relative;left: 70px;bottom: 40px}
.middle-one-1 p{text-align:left}
.middle-one-1 img{border-radius:0%;position: relative;left: 90px;position: relative;top:-40px}





















.right-div{height:100vh;background-color: #fff;padding: 0px;margin: 0px}
.right-div-header p{display: inline-block;padding: 10px 0px 0px 15px;font-weight: bold;font-size: 20px}
.right-div-header  a{color:#46B2F4;font-size: 12px}

.right-div-first{display:flex;}
.right-div-first img{position: relative;left: 5px;border-radius: 50%}
.right-div-first a{position: relative;left: 15px;font-weight: bold;color: #000}
.right-div-first p{position: relative;left: 20px;color: #EFF1F2}
.right-div-first i{position: relative;left: 25px;top: 5px;color: #EFF1F2}
.folw-bt-first{border-radius: 20px;position: relative;left: 75px;bottom: 20px;width: 90px;height: 30px;font-weight: bold;text-align: center;vertical-align:middle;}
.one{border-bottom: 2px solid#EFF1F2;margin: 0px 10px 0px 10px}

.right-div-secand{display:flex;padding-top: 15px}
.right-div-secand img{position: relative;left: 5px;border-radius: 50%}
.right-div-secand a{position: relative;left: 10px;font-weight: bold;color: #000}
.right-div-secand p{position: relative;left: 20px;color: #EFF1F2}
.right-div-secand i{position: relative;left: 25px;top: 5px;color: #EFF1F2}
.folw-bt-secand{border-radius: 20px;position: relative;left: 75px;bottom: 20px;width: 90px;height: 30px;font-weight: bold;text-align: center;vertical-align:middle;}
.tow{border-bottom: 2px solid#EFF1F2;margin: 0px 10px 0px 10px}


.right-div-thered{display:flex;padding-top: 15px}
.right-div-thered img{position: relative;left: 5px;border-radius: 50%}
.right-div-thered a{position: relative;left: 10px;font-weight: bold;color: #000}
.right-div-thered p{position: relative;left:15px;color: #EFF1F2}
.right-div-thered i{position: relative;left: 10px;top: 5px;color: #EFF1F2}
.folw-bt-three{border-radius: 20px;position: relative;left: 75px;bottom: 20px;width: 90px;height: 30px;font-weight: bold;text-align: center;vertical-align:middle;}
.three{border-bottom: 2px solid#EFF1F2;margin: 0px 10px 0px 10px}


.right-div-final{padding-left: 10px;color:#8896A2}











